.mainProfile{
    max-width: 1300px;
    width: 100%;
    justify-self: center;
}

.backBtn{
    display: flex;
    align-items: center;
    padding: 2% 0;
    margin-top: 2%;
    width: 100%;
    border-top: 1px solid var(--line);
}

.backBtn svg{
    margin-right: 25px;
    stroke: var(--foreground);
}

.backBtn p{
    font-size: 18px;
}

.logoutBtn .btnlog{
    display: flex;
    align-items: center;
    color: #EA4335;
    cursor: pointer;
}

.logoutBtn svg{
    margin-left: 10px;
    stroke: #EA4335;
}

.mainselectionProfile form{
    display: flex;
    width: 70%;
}

.mainselectionProfile .changeImg .imageUpload img{
    width: 100%;
    height: auto;
}

.mainselectionProfile .changeImg{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 2%;
    cursor: pointer;
}

.mainselectionProfile .changeImg span {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--teleparent);
    flex-direction: column;
    color: var(--background);
    pointer-events: none;
}

.mainselectionProfile .changeImg label{
    cursor: pointer;
}

.mainselectionProfile input[type="file"]{
    display: none;  
}

.mainselectionProfile span svg{
    stroke: var(--background);
}

.mainselectionProfile .inputLogout{
    margin-left: 2%;
    padding: 0 4%;
    border-left: 1px solid var(--line);
}

.insideInput{
    position: relative;
    display: flex;
    align-items: center;
}

.insideInput input{
    width: 100%;
    padding: 2%;
    padding-left: 10%;
    background-color: var(--subcolor);
    border-radius: 10px;
    outline: none;
}

.insideInput svg{
    position: absolute;
    left: 2%;
    stroke: var(--foreground);
}

.inputLogout{
    width: 86%;
}

.insideInput .passwordIcon{
    position: absolute;
    left: 2%;
    stroke: var(--foreground);
}

.insideInput .hidePass{
    position: absolute;
    left: 93%;
    align-self: center;
    stroke: var(--foreground);
    cursor: pointer;
}

button{
    display: flex;
    align-items: center;
    padding: 2% 5%;
    border-radius: 5px;
    background-color: var(--foreground);
    color: var(--background);
    margin:5% 0;
    cursor: pointer;
}