.navBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin-top: 2%;
}

.logo_searchBar{
    /* width: 100%; */
    display: flex;
    align-items: center;
}

.logoDesign{
    color: var(--foreground);
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.logoDesign svg{
    fill: var(--foreground);
    margin-right: 14px;
}

.logoDesign h1{
    font-size: 25px;
    font-weight: 900;
}

.searchBar{
    stroke: var(--foreground);
}

.searchBar .searchFrom{
    position: relative;
    width: 481px;
    display: flex;
    align-items: center;

}

.searchBar .searchFrom label{
    position: absolute;
    pointer-events: none;
    display: flex;
    margin-left: 2%;
}

.searchBar .searchFrom label svg{
    margin-right: 10px;
}

.searchBar .searchFrom label p{
    color: var(--subforecolor);
}

.searchBar .searchFrom input{
    background-color: var(--subcolor);
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    padding-left: 10%;
}

.otherActivity{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
}

.sellSpace svg{
    stroke: var(--foreground);
}

.sellSpace{
    height: 5.5vh;
    background-color: var(--subcolor);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 10px;
}

.sellLink{
    display: flex;
    align-items: center;
    
}

.sellLink p{
    width: 100%;
    display: flex;
}

.sellLink svg{
    margin-right: 15px;
}

.notificaton {
    height: 5.5vh;
    width: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--subcolor);
    border-radius: 10px;
    margin-left: 5%;
}

.notificaton svg{
    stroke: var(--foreground);
}

.profile{
    margin-left: 5%;
    border-radius: 10px;
    overflow: hidden;
    width: 5vh;
    height: 5vh;
    border-radius: 10px;
}

.profile img{
    width: 100%;
    height: auto;
}


.minnav{
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;
}

.minnav .sellerFilter a{
    height: 5.5vh;
    width: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground);
    border-radius: 10px;
}

.minnav .sellerFilter a svg{
    stroke: var(--background);
}

.notificaton {
    height: 5.5vh;
    width: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--subcolor);
    border-radius: 10px;
    margin-left: 5%;
    position: relative;
    cursor: pointer;
}

.notificaton:hover{
    background-color: var(--line);
}

.notificaton .redColors{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -3%;
    right: -3%;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #EA4335;
    font-size: 10px;
}

.notificaton svg{
    stroke: var(--foreground);
}

.notificaton:hover svg{
    transform-origin: top center;
    animation: swing 0.8s ease-in-out infinite;

}
@keyframes swing {
    0%   { transform: rotate(-20deg); }
    50%  { transform: rotate(20deg); }
    100% { transform: rotate(-20deg); }
}

@media (min-width: 900px) {
    .minnav{
        display: none;
    }
}

@media (max-width: 1300px) {
    nav{
        max-width: 900px;
    }
}

@media(max-width: 900px){
    nav{
        display: none;
    }

    .minnav{
        max-width: 600px;
    }
}

@media (max-width: 600px) {
    .minnav{
        max-width: 400px;
    }
}

@media (max-width: 400px) {
    .minnav{
        padding: 0 20px;
    }

    .minnav .sellerFilter a{
        height: 6.5vh;
        width: 6.5vh;
    }

    .notificaton {
        height: 6.5vh;
        width: 6.5vh;
    }

    .profile{
        width: 6.5vh;
        height: 6.5vh;
    }
}