.error{
    padding: 20px;
    background-color: var(--subcolor);
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #EA4335;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow);
    z-index: 1000;
    display: flex;
    animation: dropdowns 1s ease-in-out forwards;
    transform-origin: center;
}

@keyframes dropdowns {
    0% {
		transform: scale(0.9);
        transform: translate(-50%, -50%);
	}

	4% {
		transform: scale(0.9);
	}

	8% {
		transform: scale(0.9)translate(-50%, -50%);
	}

	18% {
		transform: scale(0.91)translate(-50%, -50%);
	}

	20% {
		transform: scale(0.9)translate(-50%, -50%);
	}

	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(0.32)translate(-50%, -50%);
	}

	28% {
		transform: scale(0.913)translate(-50%, -50%);
	}

	44% {
		transform: scale(0.95)translate(-50%, -50%);
	}

	59% {
		transform: scale(0.92);
	}

	73% {
		transform: scale(0.91)translate(-50%, -50%);
	}

	88% {
		transform: scale(1)translate(-50%, -50%);
	}

	100% {
		transform: scale(1);
        transform: translate(-50%, -50%);
	}
}

.cancelBtn{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
    transform-origin: center;
    transition: 500ms;
}

.cancelBtn:hover svg{
    transform: rotate(45deg);
}

.cancelBtn svg{
    stroke: var(--foreground);
    transition: 500ms;
}

.cancelBooking{
    padding: 2%;
    border-radius: 10px;
    background-color: var(--subcolor);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.cancelBooking:hover{
    background-color: var(--line);
}

.cancelBooking svg{
    stroke: var(--foreground);
    transform-origin: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.cancelBooking:hover svg{
    transform: rotate(45deg);
}

.messageBooking{
    background-color: var(--subcolor);
    display: flex;
    padding: 2%;
    gap: 30px;
    align-items: center;
    position: absolute;
    z-index: 2500;
    top: 3%;
    right: 3%;
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    will-change: transform, opacity;
    animation: messageSlideDown 420ms cubic-bezier(0.075, 0.82, 0.165, 1) 50ms forwards;
    box-shadow: var(--shadow);
}

.errorColor{
    color: #EA4335;
}
@keyframes messageSlideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
