.error{
    padding: 20px;
    background-color: var(--subcolor);
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #EA4335;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow);
    z-index: 1000;
    display: flex;
    animation: dropdown 1s ease-in-out forwards;
}

@keyframes dropdown {
    0% {
		transform: scale(0.9);
	}

	4% {
		transform: scale(0.9);
	}

	8% {
		transform: scale(0.9);
	}

	18% {
		transform: scale(0.91);
	}

	20% {
		transform: scale(0.9);
	}

	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(0.32);
	}

	28% {
		transform: scale(0.913);
	}

	44% {
		transform: scale(0.95);
	}

	59% {
		transform: scale(0.92);
	}

	73% {
		transform: scale(0.91);
	}

	88% {
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}
}

.cancelBtn{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.cancelBtn svg path{
    stroke: var(--foreground);
}