.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.insidemain{
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
}

.firstcontainer{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
}

.welcomeAndLogo .logos{
    margin-bottom: 10%;
}

.welcomeAndLogo .logos .logoDesign{
    display: flex;
    align-items: center;
}

.welcomeAndLogo .logos h1{
    display: flex;
    font-size: 17px;
}

.welcomeAndLogo svg{
    fill: var(--foreground);
    margin-right: 2%;
    height: 17px;
    width: 17px;
}

.welcomeAndLogo h1{
    font-size: 30px;
    font-weight: 900;
}

.welcomeAndLogo .welcome .mainHeading{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.welcome{
    margin-bottom: 3%;
}

.formDiv .insideInput{
    position: relative;
    display: flex;
    align-items: center;
}

.formDiv .insideInput input{
    width: 100%;
    padding: 2%;
    padding-left: 10%;
    background-color: var(--subcolor);
    border-radius: 10px;
    outline: none;
}

.formDiv .insideInput .emailsvg{
    position: absolute;
    left: 2%;
    stroke: var(--foreground);
}

.formDiv .insideInput .passwordIcon{
    position: absolute;
    left: 2%;
    stroke: var(--foreground);
}

.formDiv .insideInput .hidePass{
    position: absolute;
    right: 2%;
    align-self: center;
    stroke: var(--foreground);
    cursor: pointer;
}

.formDiv .error{
    font-size: 10px;
    color: #EA4335;
    margin:2% 0;
}

.formDiv .errorcls{
    border: 1px solid #EA4335;
}

.createAcc{
    margin-top: 5%;
}

.createAcc a{
    font-weight: 600;
}

button{
    display: flex;
    align-items: center;
    padding: 2% 5%;
    border-radius: 5px;
    background-color: var(--foreground);
    color: var(--background);
    margin-top: 5%;
    cursor: pointer;
}

button svg{
    stroke: var(--background);
    margin-left: 20px;
}

.secondcontainer{
    height: 80vh;
    width: 50%;
    border-radius: 10px;
    background-color: var(--foreground);
    padding: 8%;
    color: var(--background);
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.animation{
    overflow: hidden;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 100%;
}

.secondcontainer svg{
    stroke: var(--background);
    fill: var(--background);
    /* color: bisque; */
    /* z-index: 5; */
}

.run{
    z-index: 6;
}

.secondcontainer .car{
    fill: var(--background);
    animation: car ease-in  2s 5s infinite;
    position: absolute;
    align-self: flex-end;
    bottom: 5%;
    left: -20%;
}

@keyframes car {
    0%{
        left: -20%;
    }

    10%{
        left: 1%;
    }

    15%{
        left: 5%;
    }

    25%{
        left: 25%;
    }

    50%{
        left: 50%;
    }

    75%{
        left: 75%;
    }

    80%{
        left: 80%;
    }

    90%{
        left: 90%;
    }

    95%{
        left: 100%;
    }

    100%{
        left: 110%;
    }

}