.sellerMain{
    max-width: 1300px;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.sellerForm{
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
}

input{
    height: 6vh;
    padding: 0%;
}

form{
    width: 70%;
    /* height: 70vh; */
    /* margin-bottom: 5%; */
    /* background-color: aliceblue; */
    overflow: hidden;
    overflow-y: scroll;
}

.useLocation{
    margin-top: 2%;
    cursor: pointer;
    display: flex;
}

.useLocation svg{
    stroke: var(--foreground);
    margin-right: 10px;
}

.locationActive{
    color: var(--line);
}

.locationActive svg{
    stroke: var(--line);
}

.PostalOther{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
}

.postalCode{
    width: 44%;
}

.file{
    display: none;
}

.file input{
    display: none;
    margin: 0;
    margin-top: 0;
}

.upload{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.upload p{
    border: 3px dotted var(--line);
    border-radius: 10px;
    padding: 3% 3% 3% 4%;
    /* background-color: aqua; */
    width: 100%;
    height: 10vh;
    align-self:last baseline;
}