.mainFcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainFcontainer .insideMainContainer{
    max-width: 1300px;
    width: 100%;
}

.mainFcontainer .title{
    display: flex;
    border-right: 1px solid var(--line);
    width: 15%;
}

.mainFcontainer .title svg{
    margin-right: 20px;
}

.mainFcontainer .title h2{
    font-weight: 700;
}

.mainFcontainer .title svg{
    stroke: var(--foreground);
}

.insideMainContainer nav{
    padding: 2%;
    border-radius: 10px;
    background-color: var(--subcolor);
    
}

.insideMainContainer nav .catagories{
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.insideMainContainer nav li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0% 5%;
    width: 25%;
    border-right: 1px solid var(--line);
    cursor: pointer;
    position: relative;
}

.insideMainContainer nav li svg{
    margin-left: 10%;
    stroke: var(--foreground);
   transition: transform 500ms cubic-bezier(0.61, 1, 0.88, 1);
    transform-origin: center;
}

.insideMainContainer nav li:hover svg{
    transform: rotate(180deg);
}

.insideMainContainer nav li:hover p{
    font-weight: 600;
}

.insideMainContainer nav li:nth-child(4){
    border-right: none;
}

.newLi p{
    font-weight: 600;
}

.newLi svg{
    transform: rotate(180deg);
}

.dropDown{
    position: absolute;
    padding: 10% 10%;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--subcolor);
    bottom: -350px;
    align-self: flex-start;
    /* box-shadow: var(--shadow); */
	animation: dropdown 1s ease-in-out forwards;
    transform: scale(0);
    transform-origin: center;
    z-index: 4;
    overflow: hidden;
}

@keyframes dropdown {
    0% {
		transform: scale(0.9);
	}

	4% {
		transform: scale(0.9);
	}

	8% {
		transform: scale(0.9);
	}

	18% {
		transform: scale(0.91);
	}

	20% {
		transform: scale(0.9);
	}

	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(0.32);
	}

	28% {
		transform: scale(0.913);
	}

	44% {
		transform: scale(0.95);
	}

	59% {
		transform: scale(0.92);
	}

	73% {
		transform: scale(0.91);
	}

	88% {
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}
}

.dropDown .list .divcat{
    transition: 1s;
}

.dropDown .list .divcat:nth-child(even){
    margin: 10% 0;
    padding: 10% 0;
    border-bottom: 1px solid var(--line);
    border-top: 1px solid var(--line);
}

.dropDown .list .divcat:hover{
    background-color: var(--line);
    padding: 10% 10%;
    margin: 10% 0;
    border-radius: 5px;
}

.dropDown .list .divcat:nth-child(odd):hover{
    padding: 10% 10%;
    margin: 10% 0;
}

.Postpage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainBody{
    display: flex;
    max-width: 1300px;
    /* justify-self: center; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    /* height: 70vh; */
}

.sellerSpace{
    width: 57%;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    backdrop-filter: blur(10px);
    position: relative;
    /* background-color: aliceblue; */
}

.map{
    width: 40%;
    border-radius: 10px;
    z-index: 1;
}

.map .maps{
    height: 70vh;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.map .maps .realMap{
    width: 100%;
    height: 100%;
}

.numOfPost{
    border-bottom: 1px solid var(--line);
    padding: 2% 0;
}

.sellers{
    height: auto;
}

.post{
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2% 0;
    margin: 2% 0;
    border-bottom: 1px solid var(--line);
}

.postmaps{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.postmaps .mainMap{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.postlocation{
    width: 60%;
}

.postlocation h2{
    font-weight: 900;
    font-size: 20px;
}

.postlocation .priceL{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.postlocation .priceL p:nth-child(2){
    font-weight: 600;
    padding-left:10px;
}

.postlocation .priceL p:nth-child(1){
    padding-right: 10px;
    border-right: 1px solid var(--line);
}

.postlocation .postProfile{
    display: flex;
    align-items: center;
    margin-top: 5%;
    text-transform: capitalize;
}

.postlocation .postProfile img{
    width: 100%;
    height: auto;
}

.postlocation .postProfile .avatar{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
}

.PostBtn{
    padding: 2% 3%;
    color: var(--background);
    background-color: var(--foreground);
    border-radius: 5px;
    transform-origin: center;
    transition: transform 300ms cubic-bezier(0.61, 1, 0.88, 1);
    text-transform: capitalize;
}

.PostBtn:hover{
    transform: rotate(-4deg);
    background-color: var(--line);
    color: var(--foreground);
}

.yourLocation{
    width: 200px;
    height: 200px;
    border: 1px solid var(--background);
    background: #383838;
    background: radial-gradient(circle, rgba(56, 56, 56, 1) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 110px;
    backdrop-filter: blur(1px);
    animation: location 5s ease-in-out infinite;
    transform: scale(0);
    transform-origin: center;
    position: relative;
}

.dotLocation{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: var(--background);
    position: absolute;
    justify-self: center;
    align-self: center;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;
}

@keyframes location {
    0%{
        transform: scale(0);
        border: 0px solid var(--background);
    }

    25%{
        transform: scale(0.5);
         border: 1px solid var(--background);
    }

    75%{
        transform: scale(1);
        border: 1.5px solid var(--background);
    }
    
    100%{
        transform: scale(1.1);
        border: 1.6px solid var(--background);
    }
}

.sellerMapBtn{
    width: 50px;
    height: 50px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 6px solid var(--background);
}

.sellerMapBtn span{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transform: rotate(45deg);
    position: absolute;
    bottom: -100%;
    padding: 2px;
    overflow: hidden;
}

.sellerMapBtn img{
    border-radius: 50px;
}

.noPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    color: var(--foreground);
}

.noPost svg{
    fill: var(--foreground);
    height: 100px;
    width: 100px;
}

.noPost svg path{
    animation: svganimate 2s ease-in-out infinite forwards;
    transform-origin: center;
}

@keyframes svganimate {
    0%{
        opacity: 0.4;
        transform: rotate(0);
    }

    50%{
        opacity: 0.7;
        transform: rotate(90deg);
    }

    100%{
        opacity: 0.4;
        transform: rotate(0);
    }
}

.reloadpage{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top:20px;
    padding:10px 20px;
    width: fit-content;
    background-color: var(--subcolor);
    border-radius: 5px;
}

.reloadpage svg{
    stroke: var(--foreground);
    margin-right: 10px;
    transform-origin: center;
    transition: .5s cubic-bezier(0.61, 1, 0.88, 1);
}

.reloadpage:hover svg{
    transform: rotate(45deg);
    stroke-width: 2px;
}

.reloadpag:hover p{
    font-weight: 600;
}

.postpage{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparentBG);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    animation: postpage 1s ease-in-out .5s forwards;
    z-index: 100;
    opacity: 0;
}

@keyframes postpage {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.postpage .insidepostcard{
    width: 60%;
    display: flex;
    align-items: flex-start;
    /* background-color: aliceblue; */
    justify-content: center;
}

.postpage  .closeBtn{
    padding: 20px;
    background-color: var(--subcolor);
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
    width: fit-content;
    animation: dropdown 1s 1s ease-in-out forwards;
    transform-origin: center;
    transition: 500ms;
}

.postpage  .closeBtn:hover{
    background-color: var(--line);
    transform: rotate(4deg);
}

.postpage  .closeBtn svg{
    stroke: var(--foreground);
    transform-origin: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.postpage .closeBtn:hover svg{
    transform: rotate(45deg);
    /* stroke: var(--background); */
}

.postpage .postCard{
    width: 100%;
    border-radius: 10px;
    background-color: var(--subcolor);
    padding: 20px;
    display: flex;
    animation: dropdown 1s ease-in-out forwards;
}

.postmapcards{
    width: 50vh;
    height: 70vh;
    overflow: hidden;
    border-radius: 5px;
}

.mainMap{
    width: 100%;
    height: 100%;
    /* background-color: antiquewhite; */
}
.postCard .postDetails{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.postCard .postDetails h2{
    font-weight: 900;
    font-size: 25px;
    text-transform: capitalize;
}

.distanceInfo{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.distanceInfo svg{
    stroke: var(--foreground);
    margin-right: 10px;
}

.postcardPrice{
    display: flex;
}

.postcardPrice p:nth-child(1){
    border-right: 1px solid var(--line);
    padding-right: 20px;
    margin-right: 10px;
}

.postcardPrice p:nth-child(2){
    font-weight: 600;
    margin-left: 10px;
    padding-right: 20px;
}

.profileInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: antiquewhite; */
}

.contactBtn svg{
    stroke: var(--foreground);
    width: 25px;
    height: 25px;
}

.postcardProfile{
    display: flex;
    align-items: center;
    overflow: hidden;

}

.postcardProfile img{
    width: 100%;
    height: auto;
}

.postcardProfile .avatar{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookBtn{
    width: 100%;
    display: flex;
    align-items: center;
}

.bookBtn a{
    width: 100%;
    padding: 15px;
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 5px;
    text-align: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
    transform-origin: center;
    text-transform: capitalize;
}

.bookBtn a:hover{
    background-color: var(--line);
    color: var(--foreground);
    transform: scale(1.01) rotate(1deg);
}

.postImage{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--line);
    display: flex;
    align-self: center;
}

.postImage img{
    height: auto;
    object-fit: cover;
}

.shareLink{
    margin-left: 20px;
    cursor: pointer;
    background-color: var(--line);
    padding: 15px;
    border-radius: 5px;
}

.shareLink svg{
    stroke: var(--foreground);
    width: 25px;
    height: 25px;
}

.shareLink:hover svg{
    animation: shareicon 2s ease-in-out forwards;
    transform-origin: center; 
}

@keyframes shareicon {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.backdropShadow{
    position: fixed;
    bottom: 0;
    left: -20px;
    width: 105vh;
    height: 5%;
    backdrop-filter: blur(0);
    filter: blur(5px);
    z-index: 10;
    background-color: var(--background);
    transform: rotate(180deg);
    margin-bottom: 1%;
}

@media (max-width:1300px) {
    .mainFcontainer .insideMainContainer{
        max-width: 900px;
    }

    .mainBody{
        max-width: 900px;
        flex-direction: column-reverse;
    }

    .map{
        width: 100%;
    }

    .map .maps{
        height: 40vh;
        width: 100%;
        border-radius: 0px;
        overflow: hidden;
    }

    .sellerSpace{
        width: 100%;
        height: 70vh;
        margin-top: 2%;
    }
}

@media (max-width: 900px) {
    .sellerSpace{
        width: 100%;
        height: 70vh;
        max-width: 600px;
    }

    .postmaps{
        width: 100px;
        height: 100px;
    }

    .postlocation h2{
        font-size: 14px;
    }

    .postlocation .priceL{
        font-size: 14px;
        margin-top: 2%;
    }

    .postlocation .postProfile{
        font-size: 14px;
    }

    .postlocation .postProfile .avatar{
        width: 30px;
        height: 30px;
    }

    .PostBtn{
        font-size: 15px;
    }

}

@media (max-width: 600px) {
    .sellerSpace{
        width: 100%;
        height: 70vh;
        max-width: 400px;
    }

    .postmaps{
       display: none;
       margin: 0;
       width: 0;
       height: 0;
    }

    .PostMap{
       display: none;
       margin: 0;
       width: 0;
       height: 0;
    }

    .post{
        padding: 4% 0;
    }

}

@media (max-width: 600px) {
    .sellerSpace{
       padding: 0 20px;
    }
}